{% extends "base.html" %}
{% block title %}Recetas{% endblock title %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block header %}
  <header class="banner-prueba">
    {# buscar clase banner-prueba en main.css #}
    <h1 class="center-align">Recetas</h1>
  </header>
{% endblock header %}
<div  class="container">
  {% block content %}
  <div class="row">
    <div class="col s10 offset-s1">
      <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Cantidad que produce</th>
              <th>Duración</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            {% for receta in recetas %}
            <tr>
              <td>{{ receta.nombre }}</td>
              <td>{{ receta.cantidad }}</td>
              <td>{{ receta.duration }}</td>
              <td><a href="agregar_materiales/{{ receta.id }}"><i class="material-icons">edit</i></a></td>
              <td><a href="borrar_material/{{ receta.id }}"><i class="material-icons">delete</i></a></td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
    <div  position="absolute" bottom="5%" right="20%">
      <a href="agregar_receta" class="btn-floating right-align btn-large waves-effect waves-light pink"><i class="material-icons">add</i></a>
    </div>
  </div>
  {% endblock content %}
</div>
{% block js %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.collapsible').collapsible();
    });
  </script>
{% endblock js %}
