{% extends "base.html" %}
{% block title %}Agregar Compra{% endblock title %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block header %}
  <header>
    <h2 class="center-align">Agregar Materia Prima Compra</h2>
  </header>
{% endblock header %}

{% block content %}
  <div class="container paquete-catalogo-form">
    <div class="card recetas-catalogo-card">
      <div id="formahtml">
        <!--forma incluida forma_agregar_compra.html-->
        {{formahtml}}
        <!--Lista incluida lista_materia_prima_por_compra.html-->
        {{lista_materia_prima_por_compra}}
      </div>
      <br>
      <hr>
      <div class="row">
        <div class="col s6">
          <a class="btn waves-effect waves-light pink"  onClick="window.history.back();return false;" >Regresar
            <i class="material-icons left">chevron_left</i>
          </a>
        </div>
        <div class="col s6 right-align">
           <a class="agregar-btn waves-effect waves-light btn pink"  href="{% url 'compras:terminar_compra' compra.id %}">Agregar <i class="material-icons right">send</i></a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script type="text/javascript">

    $(document).ready(function(){
      //token CSRF para hacer peticiones POST
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        //materialize  habilitar campo de fecha
        var instance = M.Datepicker.init();

        //establecer formato de fechas
        $('.datepicker').datepicker({
          format: 'yyyy-mm-dd',
          minDate: new Date(),
        });
    });

    $('select').formSelect();

    $(document.body).on('click', '#agrega_select', function(e){

         if(document.getElementById('agrega_compra').checkValidity()) {
             //evitar que se haga el POST luego luego
             e.preventDefault();
             //url a la que haremos la petición POST
             var url = '{% url "compras:agregar_materia_prima_a_compra" %}';

             //recuperar datos de la forma
             var id_material = $('#id_material').val();
             var fecha_cad = $('#id_fecha_cad').val();
             var cantidad  = $('#id_cantidad').val();
             var costo  = $('#id_costo').val();
             var id_compra = $('#id_compra').val();

             //Petición POST
            $.post(url, {
              material: id_material,
              compra: id_compra,
              cantidad: cantidad,
              costo: costo,
              fecha_cad:fecha_cad
            }).done(function(data){
              //actualizar forma y lista
              $('#formahtml').html(data);
              var instance = M.Datepicker.init();

              //init input fecha
              $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                minDate: new Date(),
              });
              $('select').formSelect();
              //mensaje de éxito
              M.toast({html:'La materia prima se ha agregado a la compra.'});
           }).fail(function(data) {
              //mensaje de error
              M.toast({html:data.responseText});
            });

            return false;
        }
    });

  </script>
{% endblock js %}
