{% extends "base.html" %}
{% block title %}Agregar Compra{% endblock title %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block header %}
  <header>
    <h2 class="center-align">Agregar Compra</h2>
  </header>
{% endblock header %}
{% block content %}
  <div class="container">
    <div class="card">
      <!--forma para agregar una compra-->
      <form class="" action="{% url 'compras:agregar_compra' %}" id="form" method="post">
        <br>
        <br>
        <div class="row">
          <div class="input-field col m6">
            <select id="{{forma.proveedor.id_for_label}}" class="" name="{{forma.proveedor.html_name}}" required>
              <option disabled selected>Selecciona un proveedor</option>
              {% for proveedor in proveedores %}
              <option value="{{proveedor.id}}">{{proveedor.nombre}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-field col m6">
            <input type="text" class="datepicker" name="{{forma.fecha_compra.html_name}}" id='{{forma.fecha_compra.id_for_label}}' required onchange="validateFecha('{{forma.fecha_compra.id_for_label}}');">
            <label for="{{forma.fecha_compra.id_for_label}}">Fecha de Compra</label>
          </div>
          {%csrf_token%}
        </div>
        <div class="row">
          <div class="col s6">
            <a class="btn waves-effect waves-light pink"  onClick="window.history.back();return false;" >Regresar
              <i class="material-icons left">chevron_left</i>
            </a>
          </div>
          <div class="col s6 right-align btn-agregar-paquete">
            <button type="submit"class="btn waves-effect waves-light pink">Agregar <i class="material-icons right">send</i></button>
          </div>
        </div>
      </form>

    </div>
  </div>
{% endblock content %}

{% block js %}
<script>
$(document).ready(function(){

$('select').formSelect();

  //materialize habilitar campo compra
  var elem = document.querySelector('.datepicker');
  var instance = M.Datepicker.init(elem);

    $('.datepicker').datepicker({
      format: 'yyyy-mm-dd',
      minDate: new Date(),
    });

  //Poner la fecha de hoy por default
  var todayAux=new Date();
  var dd = todayAux.getDate();
  var mm = todayAux.getMonth()+1; //Enero es 0
  var yyyy = todayAux.getFullYear();

  dd = (dd<10)? '0'+dd : dd;
  mm = (mm<10)? '0'+mm : mm;

  var today = yyyy+'-'+mm+'-'+dd;
  document.getElementById("id_fecha_compra").value = today;

});
</script>
{% endblock js %}
