{% extends "base.html" %}
{% block title %}Órdenes de Compra{% endblock title %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block header %}
  <header class="banner-prueba">
    <h1 class="center-align">Órdenes de Compra</h1>
  </header>
{% endblock header %}
{% block content %}

<div class="row">
  <div class="col s10 offset-s1">
    <!--Lista de compras-->
    <table id="table_id" class="datatable">
      <thead>
        <th>ID</th>
        <th>Proveedor</th>
        <th>Fecha de Compra</th>
        <th> Monto total </th>
        <th>Detalle</th>
        <!-- <th>Editar</th> -->
        <th>Eliminar</th>
      </thead>
      <tbody>
       {% for compra in compras %}
        <tr>
          <td>{{compra.id}}</td>
          <td>{{compra.proveedor.razon_social }}</td>
          <td>{{compra.fecha_compra.date}}</td>
          <td> $ {{ compra.monto }}</td>
          <td><a onclick="detalleCompra({{compra.id}})" href="#modal_detalle" class="modal-trigger"><i class="material-icons">view_list</i> </a></td>
          <!-- Verificar si la compra está cancelada -->
          {% if compra.deleted_at %}
                    <td class="pink-text"> Cancelada </td>
          {% else %}
          <!--Ver detalle de la compra-->
          <!--Editar compra-->
          <!-- <td><a href="editar_compra/{{ compra.id }}"><i class="material-icons">edit</i></a></td> -->
          <!--Se manda llamar la función de eliminar_compra mandando el id de compra-->
          <td><a onclick="deleteRegister(this, event)" href="{% url 'compras:eliminar_compra' compra.id %}" class="modal-trigger"><i class="material-icons">delete</i></a></td>
          {% endif %}
        </tr>
       {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col s1"></div>
</div>
<div class="fixed-action-btn ">
  <!--Agregar nueva compra-->
  <a class="btn-floating btn-large waves-effect waves-light waves-circle pink fixed tooltipped modal-trigger" data-position="left" data-tooltip="Agregar nueva compra" href="agregar_compra">
    <i class="material-icons">add</i>
  </a>
</div>


<div id="modal_detalle" class="modal">
  <div class="modal-content">
    <div id="modal_compra" class=""></div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Listo</a>
  </div>
</div>

{% endblock content %}

{% block js %}
    <script type="text/js">
        $(document).ready(function(){
            $('.modal').modal();
            $('select').formSelect();
        });
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
        //CSRF token para pedidos POST
          var csrftoken = $.cookie('csrftoken');
          function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
              return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }
          $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                  if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                      xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  }
              }
          });
      });

      //eliminar compra
      function deleteRegister(element, event) {
        event.preventDefault();
        $.confirm({
          title: '¿Deseas Continuar?',
          content: 'La compra se eliminará permanentemente.',
          type: 'red',
          closeIcon: true,
          columnClass: 'col l6 offset-l3 s12',
          typeAnimated: true,
          buttons: {
            continuar: {
              text: 'Eliminar',
              btnClass: 'btn-red',
              action: function () {
                window.location.href = $(element).attr("href");
              }
            }
         }
       });
      }

      //mostrar detalle de la compra
      function detalleCompra(id_compra){
        console.log(id_compra);
        var url = '{% url "compras:lista_detalle_compra" %}';
        $.post(url, {
          id_compra: id_compra,
        }).done(function(data){
          $("#modal_compra").html(data);
        });
      }
    </script>
{% endblock js %}
