{% extends "base.html" %}
{% block title %}Compras{% endblock title %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block header %}
  <header class="banner-prueba">
    {# buscar clase banner-prueba en main.css #}
    <h1 class="center-align">Compras</h1>
  </header>
{% endblock header %}
{% block content %}

  <div class="container">

    <br>
    <div class="fixed">
        <a href="agregar_compra" class="btn-floating btn-large waves-effect waves-light pink"><i class="material-icons">add</i></a>
    </div>
  </div>

{% endblock content %}
{% block js %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.collapsible').collapsible();
    });
  </script>

{% endblock js %}
