{% load mathfilters %}
<h4>Detalle de la compra no. {{compra.id}} </h4>
<h5>Fecha: {{ compra.fecha_compra.date }} </h5>
<h5>Proveedor: {{compra.proveedor.razon_social }}</h5>
<h1>{{compramaterial}}</h1>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha Cad</th>
      <th>Cantidad</th>
      <th>Equivale</th>
      <th>Costo</th>
    </tr>
  </thead>
  <tbody>
    {% for compramaterial in materiales_de_compra %}
        <tr>
          <td>{{compramaterial.material.nombre}}</td>
          <td>{{compramaterial.fecha_cad.date}}</td>
          <td>{{compramaterial.cantidad}} {{compramaterial.unidad_entrada}}</td>
          <td>{{compramaterial.cantidad|mul:compramaterial.material.equivale_maestra|div:compramaterial.material.equivale_entrada}} {{compramaterial.material.unidad_maestra}}</td>
          <td>{{compramaterial.costo}}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
