<h4>Detalle de la compra no. {{compra.id}} </h4>
<h5>Fecha: {{compra.fecha_compra}}    Proveedor: {{compra.proveedor}}</h5>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha Cad</th>
      <th>Cantidad</th>
      <th>Costo</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tbody>
    {% for compramaterial in materiales_de_compra %}
        <tr>
          <td>{{compramaterial.material.nombre}}</td>
          <td>{{compramaterial.material.fecha_cad}}</td>
          <td>{{compramaterial.cantidad}} {{compramaterial.material.unidad_entrada}}</td>
          <td>{{compramaterial.material.costo}}</td>
          <td><a href='' class="modal-trigger"><i class="material-icons">edit</i> </a></td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
