<h4>Detalle de {{material.nombre}} </h4>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Compra</th>
      <th>Cantidad disponible</th>
      <th>Precio por Unidad</th>
      <th>Fecha Cad</th>
      <!-- <th>Editar</th> -->
    </tr>
  </thead>
  <tbody>
    {% for i in detalle_materiales_en_inventario %}
        <tr>
          <td>{{material.nombre}}</td>
          <td>{{i.compra}}</td>
          <td>{{i.porciones}} {{i.material.unidad_maestra}}</td>
          <td>{{i.costo_unitario}}</td>
          <td>{{i.fecha_cad}}</td>
          <!-- <td><a href='' class="modal-trigger"><i class="material-icons">edit</i> </a></td> -->
        </tr>
    {% endfor %}
    </tbody>
  </table>
