{% extends "base.html" %}
{% block title %}Catálogo de Materia Prima{% endblock title %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block header %}
  <header class="banner-prueba">
    <h1 class="center-align">Catálogo Materia Prima</h1>
  </header>
{% endblock header %}
{% block content %}
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s6"><a class="pink-text" href="{% url 'materiales:lista_materiales_inventario' %}">Inventario</a></li>
      <li class="tab col s6"><a class="active white-text" href="{% url 'materiales:materiales' %}">Catálogo</a></li>
    </ul>
  </div>
</div>
  <div class="row">
    <div class="col s10 offset-s1">
      <!--lista materiales-->
      <table id="table_id" class="datatable">
        <thead>
          <th>Nombres</th>
          <!-- <th>Unidad</th> -->
          <th>Código</th>
          <th>Entrada</th>
          <th>Equivalencia</th>
          <th>Editar</th>
          <th>Eliminar</th>
          <th class="hide"> Fecha de Creación </th>
        </thead>
        <tbody>
         {% for material in materiales %}
          <tr>
            <td>{{ material.nombre }}</td>
            <!-- <td>{{material.unidad}}</td> -->
            <td>{{ material.codigo }}</td>
            <td>{{ material.equivale_entrada }} {{ material.unidad_entrada }}</td>
            <td>{{ material.equivale_maestra }} {{ material.unidad_maestra }}</td>
            <td><a href="{% url 'materiales:editar_material' material.id %}" class="modal-trigger">
              <i class="material-icons ">edit</i>
            </a></td>
            <!--Se manda llamar la función de eliminar_material mandando el id de material-->
            <td>
              <a onclick="deleteRegister(this, event)" href="{% url 'materiales:eliminar_material' material.id %}" class="modal-trigger" >
                <i class="material-icons">delete</i>
              </a>
            </td>
            <td class="hide">{{material.created_at}}</td>

            </tr>
         {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="fixed-action-btn ">
    <a class="add-btn btn-floating btn-large waves-effect waves-light pink btn modal-trigger tooltipped" href="#agregar_materia_prima" data-position="left" data-tooltip="Agregar material al catálogo">
      <i class="material-icons">add</i>
    </a>
  </div>

{% include 'materiales/modal_agregar_materia_prima.html' %}

{% endblock content %}

{% block js %}
    <script type="text/js">
        $(document).ready(function(){
            $('.modal').modal();
            $('select').formSelect();
        });
    </script>
    <script type="text/javascript">
        //eliminar compra
        function deleteRegister(element, event) {
          event.preventDefault();
          $.confirm({
            title: '¿Deseas Continuar?',
            content: 'La Materia Prima se eliminará permanentemente.',
            type: 'red',
            closeIcon: true,
            columnClass: 'col l6 offset-l3 s12',
            typeAnimated: true,
            buttons: {
              continuar: {
                text: 'Eliminar',
                btnClass: 'btn-red',
                action: function () {
                  window.location.href = $(element).attr("href");
                }
              }
           }
         });
        }
    </script>
{% endblock js %}
