<form class="" action="." method="post" id="agrega_receta">
  {% csrf_token %}
  <div class="row">
    <div class="input-field col m6">
      <select id="id_receta" class="" name="receta" required>
        <option value="0">Selecciona una receta</option>
        {% for receta in recetas %}
        <option value="{{receta.id}}">{{receta.nombre}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="input-field col  m4 offset-m2">
      <input id="{{forma.cantidad.id_for_label}}" type="number" step="1" name="{{forma.cantidad.html_name}}" value="">
      <label for="{{forma.cantidad.id_for_label}}">Cantidad</label>
    </div>
  </div>
  <div class="row">
    <div class="col s12 right-align btn-agregar-paquete">
      <a id="agrega_select" class="btn waves-effect waves-lightwaves-effect waves-light blue lighten-1" onclick="agregar_receta();"><i class="material-icons">add</i></a>
    </div>
  </div>
</form>
