{% extends "base.html" %}
{% block title %}Ajuste de Inventario Producto Terminado{% endblock title %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block header %}
  <header class="banner-prueba">
    {# buscar clase banner-prueba en main.css #}
    <h1 class="center-align">Ajuste de Inventario Producto Terminado</h1>
  </header>
{% endblock header %}
{% block content %}
{# ----------  Inicia modal  --------------  #}
<div id="agregarMermaPaquete" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="col s11">
        <h3>Ajuste Inventario Producto Terminado</h3>
      </div>
      <div class="col s1">
        <a class="black-text modal-close">
          <i class="small material-icons tooltipped"  data-position="bottom" data-tooltip="Cerrar">close</i>
        </a>
      </div>
    </div>
    <form class="row" method="post" action="{% url 'mermas:agregar_merma_paquetes' %}">
      {% csrf_token %}
      <div class="input-field col s6">
        <select name="paquetes_catalogo" id="paquetes_catalogo">
          <option value="" selected="">---------</option>
          <!-- Carga lista de paquetes_catalogo para el select -->
          {% for paquete in paquetes_catalogo %}
            <option value="{{paquete.id}}">{{paquete.nombre}}</option>
          {% endfor %}
        </select>
        <label for="paquetes_catalogo">Producto terminado</label>
        <span id="cantidad_paquete_catalogo" class="helper-text"></span>
      </div>
      <div class="input-field col s6">
        <select name="nombre" required="" id="id_nombre">
          <option value="" selected="">---------</option>
        </select>
        <label for="nombre">Lote</label>
        <span id="cantidad_paquete_lote" class="helper-text"></span>
      </div>
      <div class="input-field col s11">
        <label for="{{forma.cantidad.id_for_label}}">Cantidad</label>
        <input id="{{forma.cantidad.id_for_label}}" name="{{forma.cantidad.html_name}}" type="number" required>
      </div>
      <div class="col s1">
        <a class="tooltipped btnAyuda" data-position="top" data-delay="50" data-tooltip="Si escribe un número positivo se agregará al inventario, si escribe uno negativo se restará. ">
          <i class="material-icons">help</i>
        </a>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="{{forma.descripcion.id_for_label}}">Descripción</label>
          <input id="{{forma.descripcion.id_for_label}}" class="required" name="{{forma.descripcion.html_name}}" type="text" required>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col s6">
          <a class="btn waves-effect waves-light pink modal-close" >Regresar
            <i class="material-icons left">chevron_left</i>
          </a>
        </div>
        <div class="col s6 right-align">
          <button type="submit"class="btn waves-effect waves-light pink">Agregar <i class="material-icons right">send</i></button>
        </div>
      </div>
    </form>
  </div>
</div>
{# ----------  Termina modal  --------------  #}

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s4"><a class="pink-text" href="{% url 'mermas:lista_mermas_receta' %}">Producto Semi-Terminado</a></li>
      <li class="tab col s4"><a class="white-text active" href="{% url 'mermas:lista_mermas_paquete' %}">Producto Terminado</a></li>
      <li class="tab col s4"><a class="pink-text" href="{% url 'mermas:lista_mermas_material' %}">Materia Prima</a></li>
    </ul>
  </div>
</div>
  <div class="container">
    <!-- Tabla -->
      <table id="table_id">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Cantidad</th>
              <th>Descripcion</th>
              <th>Fecha</th>
              <th class="hide"> Fecha de Creación </th>
            </tr>
          </thead>
          <tbody>
            <!-- Añade lista mermas_paquete -->
            {% for merma in mermas %}
            <tr>
                <td>{{ merma.nombre }}</td>
                <td>{{ merma.cantidad }}</td>
                <td>{{ merma.descripcion }}</td>
                <td>{{ merma.fecha }}</td>
                <td class="hide">{{cliente.created_at}}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      <br>
      <div class="row">
        <div class="right-align">
          <a href="#agregarMermaPaquete" class="btn-floating btn-large waves-effect waves-light waves-circle pink fixed tooltipped modal-trigger" data-position="left" data-tooltip="Agregar merma producto terminado" ><i class="material-icons">add</i></a>
        </div>
      </div>
  </div>
{% endblock content %}
{% block js %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.collapsible').collapsible();

      // Agrega lista de manera dinamica
      $('#paquetes_catalogo').change(function(){
          var paquete_catalogo = $('#paquetes_catalogo').val();
          $.ajax({
                url: "{% url 'mermas:obtener_paquetes_ajuste_inventario' %}",
                data: {'id_paquete_catalogo': paquete_catalogo},
                success: function(response){
                   $('#id_nombre').html(response);
                   $('select').formSelect();
                },
          });

        //Mostrar cantidad disponible en inventario de el paquete
        $.ajax({
            url: "{% url 'paquetes:obtener_cantidad_inventario_con_caducados' %}",
            data:{'paquete_catalogo':paquete_catalogo},
            success: function(response){
                $('#cantidad_paquete_catalogo').html(response);
            }
        });
      });

       $('#id_nombre').change(function(){
          var paquete_inventario_id = $('#id_nombre').val();
          //Mostrar cantidad disponible en inventario de la receta
          $.ajax({
              url: "{% url 'paquetes:obtener_cantidad_lote' %}",
              data:{'paquete_inventario':paquete_inventario_id},
              success: function(response){
                  $('#cantidad_paquete_lote').html(response);
              }
          });
        });
    });
  </script>
{% endblock js %}
