{% extends "base.html" %}
{% block title %}Ajuste de Inventario Materia Prima{% endblock title %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block header %}
  <header class="banner-prueba">
    {# buscar clase banner-prueba en main.css #}
    <h1 class="center-align">Ajuste de Inventario Materia Prima</h1>
  </header>
{% endblock header %}
{% block content %}
{# ----------  Inicia modal  --------------  #}
<div id="agregarMermaMaterial" class="modal">
  <div class="modal-content">
    <div class="row valign-wrapper">
      <div class="col s7">
        <h4>Agregar Merma Materia Prima</h4>
      </div>
      <div class="col s1 offset-s4">
        <a class="black-text modal-close">
          <i class="small material-icons">close</i>
        </a>
      </div>
    </div>
    <form class="row" method="post" action="{% url 'mermas:agregar_merma_materiales' %}">
      {% csrf_token %}

      <!-- Material del catálogo -->
      <div class="input-field col s6">
        <select name="materiales_catalogo" id="materiales_catalogo">
          <option selected="" value="">---------</option>
          {% for material_catalogo in materiales_catalogo %}
          <option value="{{material_catalogo.id}}"> {{material_catalogo.nombre}} </option>
          {% endfor %}
        </select>
        <label for="materiales_catalogo">Materia Prima</label>
      </div>

      <!-- Material del inventario -->
      <div class="input-field col s6">
        <select name="{{forma.nombre.html_name}}" id="{{forma.nombre.id_for_label}}" required="">
          <option selected="" value="">---------</option>
        </select>
        <label for="{{forma.nombre.id_for_label}}"> Lote </label>
      </div>

      <!-- Cantidad a ajustar -->
      <div class="input-field col s6">
        <label for="{{forma.cantidad.id_for_label}}">Cantidad</label>
        <input id="{{forma.cantidad.id_for_label}}" name="{{forma.cantidad.html_name}}" type="number" required>
      </div>

      <!-- Fecha del ajuste -->
      <div class="row">
        <div class="input-field col s6">
          <input class="datepicker" id="{{forma.fecha.id_for_label}}" type="text" class="required" name="{{forma.fecha.html_name}}" required>
          <label for="{{forma.fecha_fin.id_for_label}}">Fecha</label>
        </div>
      </div>

      <!-- Descripción del ajuste -->
      <div class="row">
        <div class="input-field col s12">
          <label for="{{forma.descripcion.id_for_label}}">Descripción</label>
          <input id="{{forma.descripcion.id_for_label}}" class="required" name="{{forma.descripcion.html_name}}" type="text" required>
        </div>
      </div>

      <!--Enviar forma -->
      <div class="row">
        <div class="col s12 right-align">
          <br>
          <button type="submit" class="btn pink waves-effect waves-light">Agregar</button>
        </div>
      </div>
    </form>
  </div>
</div>
{# ----------  Termina modal  --------------  #}

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s4"><a class="white-text active" href="{% url 'mermas:lista_mermas_receta' %}">Producto Semi-Terminado</a></li>
      <li class="tab col s4"><a class="pink-text" href="{% url 'mermas:lista_mermas_paquete' %}">Producto Terminado</a></li>
      <li class="tab col s4"><a class="pink-text" href="{% url 'mermas:lista_mermas_material' %}">Materia Prima</a></li>
    </ul>
  </div>
</div>
  <div class="container">
    <!-- Carga donde carga todo -->
      <table id="table_id">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Cantidad</th>
              <th>Descripcion</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            {% for merma in mermas %}
            <tr>
                <td>{{ merma.nombre }}</td>
                <td>{{ merma.cantidad }}</td>
                <td>{{ merma.descripcion }}</td>
                <td>{{ merma.fecha }}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      <br>
      <div class="row">
        <div class="right-align">
          <a href="#agregarMermaMaterial" class="btn-floating btn-large waves-effect waves-light waves-circle pink fixed tooltipped modal-trigger" data-position="left" data-tooltip="Agregar merma materia prima" href="#agregar_cliente"><i class="material-icons">add</i></a>
        </div>
      </div>
  </div>
{% endblock content %}
{% block js %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.collapsible').collapsible();
    });

    //Función que hace una consulta de los materiales en inventario para el material seleccionado
    $('#materiales_catalogo').change(function(){
        var material_catalogo_id = $('#materiales_catalogo').val();
        $.ajax({
            url:"{% url 'mermas:obtener_materiales_ajuste_inventario' %}",
            data: {'material_catalogo_id':material_catalogo_id},
            success: function(response){
                $('#{{forma.nombre.id_for_label}}').html(response);
                $('select').formSelect();
            }
        });
    });
  </script>
{% endblock js %}
