.dataTables_wrapper .dataTables_filter input
  margin-top: 2em
  color: black
  border-radius: 11px
  padding-left: 1em
  padding-right: 1em
  width: 10em
  // background-color: #E8A203
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
  // padding-left: 40px
//
// .dataTables_wrapper .dataTables_filter
//   text-align: right
//   padding-left: 10%
//   position: fixed
//   left: 95px
//   top: 134px
//
input[type=search]
  border-bottom: none

.dataTables_filter input:focus
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12) !important
	border-bottom-color: white !important
