@import '_colors'


header, main, footer
  padding-left: 300px

body
  background-color: #EBEBEB

.paquete-catalogo-form
  margin-top: 5em

.recetas-catalogo-card
  padding: 3em

/* Modal
#agregarOrden
  height: 50%
  width: 75%

/* Posición fija boton rojo add*/
.fixed
  position: fixed
  bottom: 20px
  right: 20px



@import '_inputs'
@import '_buttons'
@import '_media'
<<<<<<< HEAD
@import '_nav'
=======
>>>>>>> cf93ce217ec7ffa9c9bbaa609bcd6d7cadf3ba2f
