{% extends "base.html" %}
{% block title %}Proveedores{% endblock title %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block header %}
    <header class="banner-prueba">
        {# buscar clase banner-prueba en main.css #}
        <h1 class="center-align">Proveedores</h1>
    </header>
{% endblock header %}
    {% block content %}
    <div class="valign-wrapper">
        <div class="container">
          <!-- Carta done carga todo -->
            <div class="card">
                <div class="card-content">
                <span class="card-title">
                    <div class="row">
                      <div class="center-align">
                          <h1><strong>Nuevo Proveedor</strong></h1>
                      </div>
                    </div>
                </span>
                <!-- form de la Proveedor -->
                <form class="" action="" method="POST">
                  <br>
                  <br>
                  {% csrf_token %}
                    <!--Nombre -->
                  <div class="row">
                    <div class="input-field col m4">
                      <input class = "validate" class="validate" type="text" name="{{form.nombre.html_name}}" id="{{form.nombre.id_for_label}}" value="">
                      <label for="{{form.nombre.id_for_label}}" data-error='Debes introducir un nombre'  data-success="">Nombre</label>
                      <span class="helper-text" data-error='Debes introducir un nombre'  data-success="">{%if form.nombre.errors %}{{form.nombre.errors}}{% endif %}</span>
                    </div>
                      <!-- Teléfono -->
                    <div class="input-field col m4">
                      <input pattern="^\+?1?\d{9,15}" class="validate"  type="text" name="{{form.telefono.html_name}}" id="{{form.telefono.id_for_label}}" maxlength="15" value="">
                      <label for="{{form.telefono.id_for_label}}" data-error='Teléfono inválido'  data-success="Teléfono correcto">Teléfono</label>
                      <span class="helper-text" data-error="Teléfono inválido" data-success="">{%if form.telefono.errors %}{{form.telefono.errors}}{% endif %}</span><span class="red-text">{%if form.telefono.errors %} {{forma.telefono.errors}} {% endif %}</span>
                    </div>
                      <!-- Email -->
                    <div class="input-field col m4">
                      <input type="email" class="validate" name="{{form.email.html_name}}" id={{form.email.id_for_label}} value="">
                      <label for="{{form.email.id_for_label}}" data-error='Email inválido'  data-success="Email correcto">Email</label>
                      <span class="helper-text" data-error="Email inválido" data-success="">{%if form.email.errors %}{{form.email.errors}}{% endif %}</span>
                    </div>
                  </div>
                  <div class="row">
                      <!-- Dirección -->
                    <div class="input-field col m4">
                      <input type="text" class="validate" name="{{form.direccion.html_name}}" id={{form.direccion.id_for_label}} value="">
                      <label for="{{form.direccion.id_for_label}}">Dirección</label>
                      <span class="helper-text" data-error="Debes introducir una dirección" data-success="">{%if form.direccion.errors %}{{form.direccion.errors}}{% endif %}</span>
                    </div>
                      <!-- RFC -->
                    <div class="input-field col m4">
                      <input maxlength="13" type="text" class="validate" name="{{ form.rfc.html_name }}" id="{{ form.rfc.id_for_label }}" value="">
                      <label for="{{form.rfc.id_for_label}}" >RFC</label>
                      <span class="helper-text" data-error="RFC inválido" data-success="">{%if form.rfc.errors %}{{form.rfc.errors}}{% endif %}</span>
                    </div>
                      <!-- Razón Social -->
                    <div class="input-field col m4">
                      <input type="text" class="validate" name="{{form.razon_social.html_name}}" id={{form.razon_social.id_for_label}} value="">
                      <label for="{{form.razon_social.id_for_label}}">Razón Social</label>
                      <span class="helper-text" data-error="Debes llenar este campo" data-success="">{%if form.razon_social.errors %}{{form.razon_social.errors}}{% endif %}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s6">
                      <a class="btn waves-effect waves-light pink" href="{% url 'proveedores:lista_proveedores' %}">Regresar
                        <i class="material-icons left">chevron_left</i>
                      </a>
                    </div>
                    <div class="col s6 right-align">
                      <button type="submit" class="save btn pink">Crear <i class="material-icons right">send</i></button>
                    </div>
                  </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.collapsible').collapsible();
          });
    </script>
{% endblock js %}
