{% extends "base.html" %}
{% block title %}Catálogo Proveedores{% endblock title %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block header %}
  <header classs="banner-prueba">
    <h1 class="center-align">Catálogo Proveedores</h1>
  </header>
{% endblock header %}
{% block content %}
<div class="row">
  <div class="col s10 offset-s1">
    <table id="table_id" class="datatable">
      <thead>
        <!--Encabezados de la tabla que se imprime-->
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>RFC</th>
        <th>Razón Social</th>
        <th>Email</th>
        <th>Eliminar</th>
      </thead>
      <tbody>
        <!-- Se itera sobre una lista de proveedores para que se impriman todos -->
        {% for item in proveedores %}
        <tr>
          <td>
            <a href="{% url 'proveedores:detallar_proveedor' item.id %}">
              <!-- Se recupera el nombre del proveedor -->
              {{ item.nombre }}
            </a>
          </td>
          <!-- Aqui se recuperan los atributos de los proveedores para que se muestren en pantalla -->
          <td>{{ item.telefono }}</td>
          <td>{{ item.direccion }}</td>
          <td>{{ item.rfc }}</td>
          <td>{{ item.razon_social }}</td>
          <td>{{ item.email }}</td>
          <!-- Boton de eliminar proveedor que manda a llamar el url de eliminar_proveedor -->
          <td><a href="{% url 'proveedores:eliminar_proveedor' item.id %}" class="modal-trigger" onclick="return confirm('Vas a eliminar un Proveedor del catálogo. ¿Continuar?')" ><i class="material-icons">delete</i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="row">
      <div class="right-align">
        <!-- Boton de "mas" que manda llamar la funcion agregar_proveedor -->
        <a href="{% url 'proveedores:agregar_proveedor'%}" class="btn-floating btn-large waves-effect waves-light pink"><i class="material-icons">add</i></a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}
