{% extends "base.html" %}
{% block title %}Órdenes de Venta{% endblock title %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block header %}
  <header class="banner-prueba">
    <h1 class="center-align">Órdenes de Venta</h1>
  </header>
{% endblock header %}
{% block content %}
  <div class="row">
    <div class="col s10 offset-s1">
      <table class="striped" id="table_id" class="datatable">
        <thead>
          <th>ID</th>
          <th>Cliente</th>
          <th>Monto total</th>
          <th>Fecha </th>
          <th>Detalle </th>
          <th>Cancelar</th>
        </thead>
        <tbody>
         {% for venta in ventas %}
          <tr>
            <td>{{venta.id}}</td>
            <td>{{venta.cliente}}</td>
            <td>$ {{venta.monto_total|floatformat:2 }}</td>
            <td> {{ venta.created_at|date:"Y-m-d" }}</td>
            {% if venta.deleted_at %}
            <td class="pink-text"> Cancelada </td>
            <td></td>
            {% else %}
            <td><a onclick="detalleVenta({{venta.id}})" href="#modal_detalle" class="modal-trigger"><i class="material-icons">view_list</i> </a></td>
            <!--Se manda llamar la función de cancelar_venta mandando el id de venta-->
            <td><a onclick="deleteRegister(this, event)" href="{% url 'ventas:cancelar_venta' venta.id %}" class="modal-trigger"><i class="material-icons">cancel</i></a></td>
            </tr>
            {% endif %}
          </tr>
         {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="fixed-action-btn ">
    <a class="btn-floating btn-large waves-effect waves-light waves-circle pink fixed tooltipped modal-trigger" data-position="left" data-tooltip="Agregar venta" href="{% url 'ventas:generar_venta' %}"><i class="material-icons">add</i></a>
  </div>

<div id="modal_detalle" class="modal">
  <div class="modal-content">
    <div id="modal_venta" class=""></div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Listo</a>
  </div>
</div>

{% endblock content %}

{% block js %}
    <script type="text/js">
        $(document).ready(function(){
            $('.modal').modal();
            $('select').formSelect();
        });
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
          var csrftoken = $.cookie('csrftoken');
          function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
              return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }
          $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                  if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                      xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  }
              }
          });
      });

      function deleteRegister(element, event) {
        event.preventDefault();
        $.confirm({
          title: '¿Deseas Continuar?',
          content: 'La venta se eliminará permanentemente.',
          type: 'red',
          closeIcon: true,
          columnClass: 'col l6 offset-l3 s12',
          typeAnimated: true,
          buttons: {
            continuar: {
              text: 'Eliminar',
              btnClass: 'btn-red',
              action: function () {
                window.location.href = $(element).attr("href");
              }
            }
         }
       });
      }

      function detalleVenta(id_venta){
        console.log(id_venta);
        var url = '{% url "ventas:lista_detalle_venta" %}';
        $.post(url, {
          id_venta: id_venta,
        }).done(function(data){
          $("#modal_venta").html(data);
        });
      }
    </script>
{% endblock js %}
