@charset "UTF-8";
header, main, footer {
  padding-left: 300px; }

body {
  background-color: #EBEBEB; }

.paquete-catalogo-form {
  margin-top: 5em; }

.recetas-catalogo-card {
  padding: 3em; }

/* Modal */
#agregarOrden {
  height: 50%;
  width: 75%; }

/* Posición fija boton rojo add*/
.fixed {
  position: fixed;
  bottom: 20px;
  right: 20px; }

/*Color select */
.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: #F44336;
  display: block;
  line-height: 22px;
  padding: 14px 16px; }

/*Estilos para datepicker */
.datepicker-date-display, .datepicker-table td.is-selected {
  background-color: #F44336; }

.datepicker-clear, .datepicker-today, .datepicker-done {
  color: #F44336; }

/*Color de label */
input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label {
  color: #F44336; }

input[type=text]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #F44336;
  -webkit-box-shadow: 0 1px 0 0 #F44336;
  box-shadow: 0 1px 0 0 #F44336; }

/*Color de linea inferior */
/*Acomodar botonAyuda */
.btnAyuda {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.btn-agregar-paquete {
  margin-bottom: 2em; }

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0; } }

.navbar-logo {
  width: 100%; }

.navbar-color {
  background-color: white; }

.banner-prueba {
  color: #333333;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url(../img/prueba/banner-prueba.jpeg);
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/prueba/banner-prueba.jpeg);
  background: -o-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/prueba/banner-prueba.jpeg);
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/prueba/banner-prueba.jpeg);
  margin-top: -2em;
  padding-top: .8em;
  padding-bottom: .8em; }
