@charset "UTF-8";
header, main, footer {
  padding-left: 300px; }

body {
  background-color: #EBEBEB; }

.paquete-catalogo-form {
  margin-top: 5em; }

.recetas-catalogo-card {
  padding: 3em; }

/* Modal */
#agregarOrden {
  height: 65%;
  width: 75%; }

#agregarMermaReceta {
  height: 65%;
  width: 75%; }

#agregarMermaPaquete {
  height: 65%;
  width: 75%; }

#agregarMermaMaterial {
  height: 65%;
  width: 75%; }

/* Posición fija boton rojo add*/
.fixed {
  position: fixed;
  bottom: 20px;
  right: 20px; }

body, main#login, .login {
  padding-left: 0;
  height: 100%;
  margin-bottom: 0; }

#background {
  height: 100%;
  background: url(../img/prueba/pan.png) no-repeat;
  background-size: cover;
  background-position: center; }

.logoLogin {
  height: 250px; }

.login-icons {
  padding: 0px 10px 0px 0px; }

#login {
  height: 100%;
  background-color: white; }

.btnLogin {
  width: 100%; }

/*Color select */
.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: #e91e63;
  display: block;
  line-height: 22px;
  padding: 14px 16px; }

/*Estilos para datepicker */
.datepicker-date-display, .datepicker-table td.is-selected {
  background-color: #e91e63; }

.datepicker-clear, .datepicker-today, .datepicker-done {
  color: #e91e63; }

/*Color de label */
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #e91e63; }

input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #e91e63; }

input[type=text]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #e91e63;
  -webkit-box-shadow: 0 1px 0 0 #e91e63;
  box-shadow: 0 1px 0 0 #e91e63; }

/*Color de linea inferior */
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #e91e63;
  -webkit-box-shadow: 0 1px 0 0 #e91e63;
  box-shadow: 0 1px 0 0 #e91e63; }

/*Acomodar botonAyuda */
.btnAyuda {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.btn-agregar-paquete {
  margin-bottom: 2em; }

.tabs li.tab a.active {
  background-color: #e91e63;
  opacity: 0.85; }

.dataTables_wrapper .dataTables_filter input {
  margin-top: 2em;
  color: black;
  border-radius: 11px;
  padding-left: 1em;
  padding-right: 1em;
  width: 10em;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

input[type=search] {
  border-bottom: none; }

.dataTables_filter input:focus {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  border-bottom-color: white !important; }

.navbar-logo {
  width: 100%; }

.navbar-color {
  background-color: white; }

.banner-prueba {
  color: #333333;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url(../img/prueba/banner-prueba.jpeg);
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/prueba/pan2.png);
  background: -o-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/prueba/pan2.png);
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/prueba/pan2.png);
  margin-top: -2em;
  padding-top: .8em;
  padding-bottom: .8em; }

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0; } }
