{% extends "base.html" %}
{% block title %}Agregar Producto Terminado{% endblock title %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block header %}
  <header>
    <h2 class="center-align">Crear Orden de Trabajo Producto Terminado</h2>
  </header>
{% endblock header %}
{% block content %}
  <div class="container">
    <div class="card paquete-catalogo-form">
      <form class="" action="{% url 'paquetes:agregar_inventario' %}" method="POST">
        <br>
        <br>
        <div class="row">
          <!--producto-->
          <div class="input-field col m6">
            <select id="id_paquete" class="" name="nombre" required>
              <option value="0">Selecciona un Producto Terminado</option>
              {% for paquete in paquetes %}
              <option value="{{paquete.id}}">{{paquete.nombre}}</option>
              {% endfor %}
            </select>
          </div>
          <!--cantidad-->
          <div class="input-field col m3">
            <input type="number" step = "1" name="{{forma.cantidad.html_name}}" id={{forma.cantidad.id_for_label}} value="">
            <label for="{{forma.cantidad.id_for_label}}" data-error='Cantidad invalida'  data-success="Cantidad correcto">Cantidad</label>
          </div>
          <!--fecha de caducidad-->
          <div class="input-field col m3">
            <input type="text" class="datepicker" name="fecha_cad" id="fecha_cad" onchange="validateFecha('fecha_cad');">
            <label for="fecha_cad">Fecha de caducidad</label>
          </div>
          {%csrf_token%}
        </div>

        <div class="row">
          <div class="col s6">
            <a class="btn waves-effect waves-light pink"  onClick="window.history.back();return false;" >Regresar
              <i class="material-icons left">chevron_left</i>
            </a>
          </div>
          <div class="col s6 right-align">
            <button type="submit"class="btn waves-effect waves-light pink btn-agregar-paquete">Agregar <i class="material-icons right">send</i></button>
          </div>
        </div>
      </form>

    </div>
  </div>
{% endblock content %}


{% block js %}
<script type="text/javascript">
  $('select').formSelect();

  //inicializar input de fechas
  var elem = document.querySelector('.datepicker');
  var instance = M.Datepicker.init(elem);

  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: 'yyyy-mm-dd',
      minDate: new Date(),
    });
  });


  </script>
{% endblock js %}
