{% extends "base.html" %}
{% block title %}Prueba{% endblock title %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block header %}
  <header>
    <h2 class="center-align">Paquete {{paquete.nombre}}<a href="{% url 'paquetes:editar_paquete' paquete.id %}">
      <i class="small material-icons">edit</i>
    </a></h2>
  </header>

{% endblock header %}
{% block content %}
  <div class="container paquete-catalogo-form">
    <div class="card recetas-catalogo-card">
      <div id="formahtml">
        <div class="row">
          <div class="col s6">
            <a class="btn waves-effect waves-light pink" href="/paquetes/lista_paquetes/editar_paquete/{{paquete.id}}">Regresar
              <i class="material-icons left">chevron_left</i>
            </a>
          </div>
        </div>
        {{formahtml}}
        {{lista_recetas}}
      </div>
      <div class="col s12 right-align btn-agregar-paquete">
        <a class="agregar-btn waves-effect waves-light btn pink" href="../../../paquetes/lista_paquetes">Agregar</a>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script type="text/javascript">
    $(document).ready(function(){
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    });

    $('select').formSelect();
    $(document.body).on('click', '#agrega_select', function(e){
        if(document.getElementById('agrega_receta').checkValidity()) {
            e.preventDefault();
            var url = '{% url "paquetes:agregar_receta_a_paquete" %}';

            var  receta = $('#id_receta').val();

            var cantidad  = $('#{{forma.cantidad.id_for_label}}').val();

            var paquete = {{paquete.id}};

            $.post(url, {
              receta: receta,
              cantidad: cantidad,
              paquete: paquete
            }).done(function(data){
              $('#formahtml').html(data);
              $('select').formSelect();
              M.toast({html:'La receta se ha agregado al paquete.'});
            }).fail(function(data) {
                M.toast({html:data.responseText});
            });

            return false;
       }
    });

  </script>
{% endblock js %}
