{% extends "base.html" %}
{% block title %}Inventario Producto Terminado{% endblock title %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block header %}
  <header class="banner-prueba">
    {# buscar clase banner-prueba en main.css #}
    <h1 class="center-align">Inventario Producto Terminado</h1>
  </header>
{% endblock header %}
{% block content %}
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s6"><a class="active white-text" href="{% url 'paquetes:lista_paquete_inventario' %}">Inventario</a></li>
      <li class="tab col s6"><a class="pink-text" href="{% url 'paquetes:lista_paquetes' %}">Catálogo</a></li>
    </ul>
  </div>
  <div id="test1" class="col s12"></div>
  <div id="test2" class="col s12"></div>
</div>
  <div class="container">
    <!-- Carga donde carga todo -->
    <table id="table_id">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Código</th>
            <th>Total</th>
            <th>Precio</th>
            <th>Ver detalle</th>
            <th class="hide"> Fecha de Creación </th>
          </tr>
        </thead>
        <tbody>
          {% for catalogo_paquete in catalogo_paquetes %}

            <tr>
                <td>{{ catalogo_paquete.nombre }} {% if catalogo_paquete.tiene_caducados %} -  <span class="pink-text"> Existen caducados </span> {% endif %} </td>
                <td>{{ catalogo_paquete.codigo}}</td>
                <td>{% if catalogo_paquete.total %} {{ catalogo_paquete.total }} {% else %} 0 {% endif %}</td>
                <td>$ {{catalogo_paquete.precio}}</td>
                <td><a onclick="detallePaquetes({{catalogo_paquete.id}})" href="#modal_detalle" class="modal-trigger"><i class="material-icons">view_list</i> </a></td>
                <td class="hide">{{catalogo_paquete.created_at}}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="fixed">
        <a href="{% url 'paquetes:agregar_inventario' %}" class="btn-floating btn-large waves-effect waves-light waves-circle pink fixed tooltipped" data-position="left" data-tooltip="Agregar producto"><i class="material-icons">add</i></a>
    </div>
  </div>
  <div id="modal_detalle" class="modal">
    <div class="modal-content">
      <div id="modal_paquete" class=""></div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Listo</a>
    </div>
  </div>
{% endblock content %}
{% block js %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.collapsible').collapsible();
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    });

    function deleteRegister(element, event) {
      event.preventDefault();
      $.confirm({
        title: '¿Deseas Continuar?',
        content: 'El paquete se eliminará permanentemente.',
        type: 'red',
        closeIcon: true,
        columnClass: 'col l6 offset-l3 s12',
        typeAnimated: true,
        buttons: {
          continuar: {
            text: 'Eliminar',
            btnClass: 'btn-red',
            action: function () {
              window.location.href = $(element).attr("href");
            }
          }
       }
     });
    }

    function detallePaquetes(id_paquete){
      console.log(id_paquete);
      var url = '{% url "paquetes:paquetes_por_catalogo" %}';
      $.post(url, {
        id_paquete: id_paquete,
      }).done(function(data){
        $("#modal_paquete").html(data);
      });
    }
  </script>
{% endblock js %}
