{% extends "base.html" %}
{% block title %}Prueba{% endblock title %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block header %}
  <header class="banner-prueba">
    {# buscar clase banner-prueba en main.css #}
    <h1 class="center-align">Catálogo de Producto Terminado</h1>
  </header>
{% endblock header %}
{% block content %}
  <div class="container">
    {% for paquete in paquetes %}
      <p>{{paquete.nombre}}</p>
    {% endfor %}

    <a href={% url 'paquetes:agregar_paquete' %}><p>Add</p></a>
  </div>
{% endblock content %}

{% block js %}
{% endblock js %}
