  <h4 class="center-align">Productos semiterminados y materiales de empaque</h4>
  <div id="lista_recetas">
    <table class="striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th> </th>
        </tr>
        <tbody>
          {% for receta in recetas_por_paquete %}
            <tr>
              <td>{{receta.receta.nombre}}</td>
              <td>{{receta.cantidad}}</td>
              <td>
                <a class="eliminar tooltipped" id="{{ receta.id }}" href="#"  data-position="left" data-tooltip="Eliminar producto semiterminado de este producto terminado"><i class="material-icons pink-text">cancel</i> </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </thead>
    </table>
  </div>
