<h4>Detalle de {{paquete.nombre}} </h4>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Fecha de caducidad</th>
      <th>Editar</th>
      <th>Borrar</th>
    </tr>
  </thead>
  <tbody>
{% for i in detalle_paquetes_en_inventario %}
    {% if i.disponibles > 0 %}
        <tr class="{% if i.es_caducado %} pink-text {% endif %}">
          <td>{{paquete.nombre}}</td>
            <td>{{i.disponibles}}</td>
            <td>{{i.fecha_cad.date}}</td>
            <td><a href='{% url "paquetes:editar_paquete_inventario" i.id %}' class="modal-trigger"><i class="material-icons">edit</i> </a></td>
            <td><a href='{% url "paquetes:borrar_paquete_inventario" i.id %}' class="modal-trigger" onclick="deleteRegister(this, event)"><i class="material-icons">delete</i> </a></td>
        </tr>
    {% endif %}

{% endfor %}
    </tbody>
  </table>
  <script type="text/javascript">
      //eliminar compra
      function deleteRegister(element, event) {
        event.preventDefault();
        $.confirm({
          title: '¿Deseas Continuar?',
          content: 'El Producto Terminado se eliminará permanentemente.',
          type: 'red',
          closeIcon: true,
          columnClass: 'col l6 offset-l3 s12',
          typeAnimated: true,
          buttons: {
            continuar: {
              text: 'Eliminar',
              btnClass: 'btn-red',
              action: function () {
                window.location.href = $(element).attr("href");
              }
            }
         }
       });
      }
  </script>
