{% extends "base.html" %}
{% block title %}Catálogo Clientes{% endblock title %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block header %}
  <header class="banner-prueba">
    <h1 class="center-align">Catálogo Clientes</h1>
  </header>
{% endblock header %}
{% block content %}
  {# ----------  Inicia modal  --------------  #}
  {# ----------  Termina modal  --------------  #}

  <div class="row">
    <div class="col s10 offset-s1">
      <table id="table_id" class="datatable">
      <thead>
      <th>Nombre</th>
      <th>Nombre Contacto</th>
      <th>Teléfono</th>
      <th>Email</th>
      <th>RFC</th>
      <th>Editar</th>
      <th>Eliminar</th>
      <th> Historial </th>
      <th class="hide"> Fecha de Creación </th>
      </thead>
      <tbody>
       {% for cliente in clientes %}
      <tr>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.nombreContacto}}</td>
        <td>{{cliente.telefono}}</td>
        <td>{{cliente.email}}</td>
        <td>{{cliente.rfc}}</td>
        <td><a href="{% url 'clientes:editar_cliente' cliente.id %}"><i class="material-icons">edit</i></a></td>
        <!--Se manda llamar la función de eliminar_cliente mandando el id de cliente-->
        <td><a href="{% url 'clientes:eliminar_cliente' cliente.id %}" class="modal-trigger" onclick="deleteRegister(this, event)"><i class="material-icons">delete</i></a></td>
        <td><a href="{% url 'clientes:historial_cliente' cliente.id %}"><i class="material-icons">history</i></a> </td>
        <td class="hide">{{cliente.created_at}}</td>
      </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
    <div class="col s1"></div>
  </div>
  <div class="fixed-action-btn ">
    <a class="btn-floating btn-large waves-effect waves-light waves-circle pink fixed tooltipped modal-trigger" data-position="left" data-tooltip="Agregar nuevo cliente" href="#agregar_cliente"><i class="material-icons">add</i></a>
  </div>

{% include 'clientes/modal_agregar_cliente.html' %}

{% endblock content %}

{% block js %}
    <script type="text/js">
        $(document).ready(function(){
            $('.modal').modal();
        });
    </script>
    <script type="text/javascript">
        //eliminar compra
        function deleteRegister(element, event) {
          event.preventDefault();
          $.confirm({
            title: '¿Deseas Continuar?',
            content: 'El Cliente se eliminará permanentemente.',
            type: 'red',
            closeIcon: true,
            columnClass: 'col l6 offset-l3 s12',
            typeAnimated: true,
            buttons: {
              continuar: {
                text: 'Eliminar',
                btnClass: 'btn-red',
                action: function () {
                  window.location.href = $(element).attr("href");
                }
              }
           }
         });
        }
    </script>
{% endblock js %}
