{% extends "base.html" %}
{% block title %}{{cliente.nombre}}{% endblock title %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block header %}
    <header class="">
        {# buscar clase banner-prueba en main.css #}
        <h1 class="center-align">{{ cliente.nombre }}</h1>
    </header>
{% endblock header %}

{% block content %}
<div class="valign-wrapper">
    <div class="container">
      <!-- Carta donde carga todo -->
        <div class="card">
            <div class="card-content">
            <span class="card-title">
                <div class="row">

                </div>
            </span>
            <!-- Forma para editar la cliente -->
            <form class="" action="/clientes/editar_cliente/{{cliente.id}}" method="POST">
              <br>
              <br>
              {% csrf_token %}
              <div class="row">
                <div class="input-field col m3">
                  <input class = "validate"  type="text" name="{{form.nombre.html_name}}" id="{{form.nombre.id_for_label}}" value="{{cliente.nombre}}" required>
                  <label for="{{form.nombre.id_for_label}}" data-error='Nombre inválido'  data-success="Nombre correcto">Nombre</label>
                </div>
                <div class="input-field col m3">
                  <input type="number" step = "0.50" name="{{form.telefono.html_name}}" id={{form.telefono.id_for_label}} value="{{cliente.telefono}}" min="0" required>
                  <label for="{{form.telefono.id_for_label}}" data-error='telefono inválido'  data-success="telefono correcto">Teléfono</label>
                </div>
                <div class="input-field col m3">
                  <input type="email" step = "0.50" name="{{form.email.html_name}}" id={{form.email.id_for_label}} value="{{cliente.email}}" required>
                  <label for="{{form.email.id_for_label}}" data-error='Email inválido'  data-success="Email correcto">Email</label>
                </div>
                <div class="input-field col m3">
                  <input type="text" step = "0.50" name="{{form.rfc.html_name}}" id={{form.rfc.id_for_label}} value="{{cliente.rfc}}" required>
                  <label for="{{form.rfc.id_for_label}}" data-error='rfc inválido'  data-success="rfc correcto">RFC</label>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <a class="btn waves-effect waves-light pink"  onClick="window.history.back();return false;" >Regresar
                    <i class="material-icons left">chevron_left</i>
                  </a>
                </div>
                <div class="col s6 right-align">
                    <button type="submit" class="save btn right-align pink">Crear <i class="material-icons right">send</i></button>
                </div>
              </div>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.collapsible').collapsible();
        });
    </script>
{% endblock js %}
