<!-- Modal Agregar cliente -->
  <div id="agregar_cliente" class="modal">
    <div class="modal-content">
        <div class="row">
          <div class="col s11">
            <h3>Agregar un cliente</h3>
          </div>
          <div class="col s1">
            <a class="black-text modal-close">
              <i class="small material-icons tooltipped"  data-position="bottom" data-tooltip="Cerrar">close</i>
            </a>
          </div>
        </div>
        <form id="forma_cliente" action="{% url 'clientes:clientes' %}" method="POST">
            {% csrf_token %}
            <div class="row">
              <!--Nombre-->
                <div class="input-field col s6">
                    <input class="validate"  type="text" name="{{forma.nombre.html_name}}" id="{{forma.nombre.id_for_label}}" value="" required>
                    <label for="{{forma.nombre.id_for_label}}">Nombre Completo</label>
                    <span class="helper-text" data-error="Nombre inválido"></span>
                    <span class="red-text"> {%if form.nombre.errors %} {{forma.nombre.errors}} {% endif %}</span>
                </div>
                <!-- RFC -->
                <div class="input-field col s6">
                    <input pattern="[a-zA-Z0-9]{13,13}"class="validate"  maxlength="13" type="text" name="{{forma.rfc.html_name}}" maxlength="10" id="{{forma.rfc.id_for_label}}" value="">
                    <label for="{{forma.rfc.id_for_label}}" data-error='Teléfono inválido'  data-success="">RFC</label>
                    <span class="helper-text" data-error="RFC inválido"></span>
                    <span class="red-text">{%if forma.rfc.errors %} {{forma.rfc.errors}} {% endif %}</span>
                </div>
            </div>
            <div class="row">
                <!-- Teléfono -->
                <div class="input-field col s12 m6 l6">
                    <input pattern="^\+?1?\d{9,15}" class="validate"  type="text" name="{{forma.telefono.html_name}}" maxlength="15" id="{{forma.telefono.id_for_label}}" value="">
                    <label for="{{forma.telefono.id_for_label}}" data-error='Teléfono inválido'  data-success="">Teléfono</label>
                    <span class="helper-text" data-error="Teléfono inválido"></span>
                    <span class="red-text">{%if form.telefono.errors %} {{forma.telefono.errors}} {% endif %}</span>
                </div>
                <!-- Email -->
                <div class="input-field col s12 m6 l6">
                    <input class="validate"  type="email" name="{{forma.email.html_name}}" id="{{forma.email.id_for_label}}" value="">
                    <label for="{{forma.email.id_for_label}}" data-error=''  data-success="">Email</label>
                    <span class="helper-text" data-error="Email inválido"></span>
                    <span class="red-text"> {%if forma.email.errors %} {{forma.email.errors}} {% endif %}</span>
                </div>
            </div>
            <div class="row">
              <br>
              <div class="col s6">
                <a class="btn waves-effect waves-light pink modal-close" >Regresar
                  <i class="material-icons left">chevron_left</i>
                </a>
              </div>
              <div class="col s6 right-align">
                <button type="submit"class="btn waves-effect waves-light pink">Agregar <i class="material-icons right">send</i></button>
              </div>
            </div>
        </form>
    </div>
  </div>
