{% load staticfiles %}
  <ul id="slide-out" class="sidenav sidenav-fixed">
    <li><div class="user-view">
      <div class="background navbar-color"></div>
      <a href="#!user"><img class="navbar-logo" src="{% static "img/navbar/panqayudalogo.png" %}"></a>
    </div></li>
    <li><div class="divider"></div></li>
    <li><a href="#" class="waves-effect">Proveedores</a></li>
    <li><div class="divider"></div></li>
    <li><a href="#" class="waves-effect">Compras</a></li>
    <li><div class="divider"></div></li>
    <li><a href="#" class="waves-effect" >Materia Prima</a></li>
    <li><div class="divider"></div></li>
    <li><a href="/recetas" class="waves-effect" >Recetas</a></li>
    <li><div class="divider"></div></li>
    <li><a href="#" class="waves-effect" >&Oacute;rdenes</a></li>
    <li><div class="divider"></div></li>
    <li><a href="#" class="waves-effect" >Productos</a></li>
    <li><div class="divider"></div></li>
    <li><a href="#" class="waves-effect" >Paquetes</a></li>
    <li><div class="divider"></div></li>
    <li><a href="#" class="waves-effect" >Clientes</a></li>
    <li><div class="divider"></div></li>
    <li><a href="#" class="waves-effect" >Ventas</a></li>
    <li><div class="divider"></div></li>
    <li><a href="#" class="waves-effect" >Usuarios</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
