{% extends "base.html" %}
{% block title %}Usuarios{% endblock title %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block header %}
  <header class="banner-prueba">
    {# buscar clase banner-prueba en main.css #}
    <h1 class="center-align">Usuarios</h1>
  </header>
{% endblock header %}
{% block content %}
  <div class="container">
    {{ forma.message.errors }}
    {{ forma.name_of_field.errors }}
    <!-- Carga donde carga todo -->
      <table id="table_id">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Email</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.first_name }}{{ usuario.last_name }}</td>
                <td>{{ usuario.email }}</td>
                <td><a><i class="material-icons">edit</i></a></td>
                <td><a><i class="material-icons">delete</i></a></td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      <br>
      <div class="row">
        <div class="right-align">
          <a href="#agregar_usuario" class="btn-floating btn-large waves-effect waves-light pink modal-trigger"><i class="material-icons">add</i></a>
        </div>
      </div>
  </div>

  {% include 'modal_agregar_usuario.html' %}

{% endblock content %}
{% block js %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.collapsible').collapsible();
    });


    var password = document.getElementById("id_password");
    var confirm_password = document.getElementById("confirm_password");

    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
  </script>
{% endblock js %}
