{% extends "base.html" %}
{% block title %}Recetas{% endblock title %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block header %}
    <header class="">
        {# buscar clase banner-prueba en main.css #}
        <h1 class="center-align">{{ receta.nombre }}</h1>
    </header>
{% endblock header %}
<div  class="container">
  {% block content %}
  <div class="valign-wrapper">
      <div class="container">
        <!-- Carta donde carga toda la información -->
          <div class="card">
              <div class="card-content">
              <span class="card-title">
              </span>
              <div class="row">
                <h4> Agregar Materia Prima </h4>
                    <form class="row" method="POST" class="post-form">
                        {% csrf_token %}
                        <!--Material-->
                        <div class="input-field col l7 m7 s7">
                              <input type="text" id="material" name="material" class="autocomplete" required>
                              <label for="material">Material</label>
                        </div>
                        <input type="text" hidden name="id_material" id="id_material"/>
                        <!--Cantidad de Material-->
                        <div class="input-field col l2 m2 s1">
                            {{ form.cantidad.label_tag }}
                            {{ form.cantidad }}
                            {% if form.cantidad.errors %}
                                <span class="text-red">{{ form.cantidad.errors }} </span>
                            {% endif %}
                        </div>
                        <!--Unidad-->
                        <div class="input-field col l2 m2 s1">
                            <p id="unidad" disabled></p>
                        </div>
                        <!-- Botón de agregar -->
                        <div class="col l1 m1 s1">
                            <button class="btn-floating pink disabled" id="boton_agregar" type="submit"><i class="material-icons">add</i></button>
                        </div>
                    </form>
                </div>
                <div class="row">
                  <div class="col s10 offset-s1">
                      <table id="table_id">
                          <thead>
                            <tr>
                              <th>Nombre</th>
                              <th>Cantidad necesitada</th>
                              <th>Unidades</th>
                              <th>Eliminar</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for material in materiales_actuales %}
                            <tr>
                              <!-- Datos de el material -->
                              <td>{{ material.material.nombre }}</td>
                              <td>{{ material.cantidad }}</td>
                              <td>{{ material.material.unidad }}</td>
                              <td><a href="borrar_material/{{ material.id }}"><i class="material-icons">delete</i></a></td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col s6">
                      <a href="/recetas/receta/{{receta.id}}">
                        <button class="btn waves-effect waves-light pink" type="submit" name="action">Regresar
                          <i class="material-icons left">chevron_left</i>
                        </button>
                      </a>
                    </div>
                    <div class="col s3 offset-s3">
                     <a href="{% url 'recetas:detallar_receta' receta.id %}" class="waves-effect waves-light btn pink">Terminar
                       <i class="material-icons right">send</i>
                     </a>
                    </div>
                  </div>
              </div>
              </div>
          </div>
      </div>
  </div>

  {% endblock content %}
</div>
{% block js %}
  <script type="text/javascript">
    $(document).ready(function(){
        $('.collapsible').collapsible();
        //Diccionario con unidades para cada material
        var dict = {
                    {% for material in materiales_disponibles %}
                     '{{ material.nombre }}': '{{ material.unidad_maestra }}',
                    {% endfor %}
                    };
        //Autocompletar para escoger materiales
          $('input.autocomplete').autocomplete({
            data: {
                 {% for material in materiales_disponibles %}
                     '{{ material.nombre }}':null,
                 {% endfor %}
            },
            limit: 20,
            onAutocomplete: function(val) {
                //Cambiar campo de unidades
                $('#unidad').html(dict[val]);
                $('#boton_agregar').removeClass('disabled');
            },
            minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
          });

          $('#material').keyup(function(){
              var val = $('#material').val();
              if (dict[val] === undefined) {
                  $('#id_material').val('');
                  $('#unidad').html('');
                  $('#boton_agregar').addClass('disabled');
              }
          });

    });
  </script>
{% endblock js %}
