{% extends "base.html" %}
{% block title %}Producto Semi-Terminado{% endblock title %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block header %}
    <header class="banner-prueba">
        {# buscar clase banner-prueba en main.css #}
        <h1 class="center-align">Producto Semi-Terminado</h1>
    </header>
{% endblock header %}
    {% block content %}
    <div class="valign-wrapper">
        <div class="container">
          <!-- Carta done carga todo -->
            <div class="card">
                <div class="card-content">
                <span class="card-title">
                    <div class="row">
                      <div class="center-align">
                          <h1><strong>Nuevo Semi-Terminado</strong></h1>
                      </div>
                    </div>
                </span>
                <!-- form de la Receta -->
                <form class="" action="{% url 'recetas:agregar_receta' %}" method="POST">
                  <br>
                  <br>
                  {% csrf_token %}
                    <!-- Nombre de la receta -->
                  <div class="row">
                    <div class="input-field col m4">
                      <input class = "validate"  type="text" name="{{form.nombre.html_name}}" id="{{form.nombre.id_for_label}}" value="">
                      <label for="{{form.nombre.id_for_label}}" data-error='Nombre inválido'  data-success="Nombre correcto">Nombre</label>
                    </div>
                      <!-- Cantidad que produce la receta -->
                    <div class="input-field col m4">
                      <input type="number" step = "0.50" name="{{form.cantidad.html_name}}" id={{form.cantidad.id_for_label}} value="">
                      <label for="{{form.cantidad.id_for_label}}" data-error='Piezas inválidas'  data-success="Piezas correctas">Piezas</label>
                    </div>
                      <!-- Duración en días de la receta -->
                    <div class="input-field col m4">
                      <input type="number" step = "1" min="1" name="{{form.duracion_en_dias.html_name}}" id={{form.duracion_en_dias.id_for_label}} value="" required>
                      <label for="{{form.duracion_en_dias.id_for_label}}" data-error='Duración inválida'  data-success="Duración correcto">Duración en días</label>
                    </div>
                  </div>
                    <!-- Regresar y enviar -->
                  <div class="row">
                    <div class="col s6">
                      <a class="btn waves-effect waves-light pink"  onClick="window.history.back();return false;" >Regresar
                        <i class="material-icons left">chevron_left</i>
                      </a>
                    </div>
                    <div class="col s6 right-align">
                      <button type="submit" class="save btn pink">Crear <i class="material-icons right">send</i></button>
                    </div>
                  </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.collapsible').collapsible();
          });
    </script>
{% endblock js %}
