{% extends "base.html" %}
{% block title %}Catálogo Producto Semi-Terminado{% endblock title %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block header %}
  <header class="banner-prueba">
    {# buscar clase banner-prueba en main.css #}
    <h1 class="center-align">Catálogo Producto Semi-Terminado</h1>
  </header>
{% endblock header %}
{% block content %}
  <div class="container">
    <!-- Carga donde carga todo -->
      <table id="table_id">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Cantidad que produce</th>
              <th>Duración</th>
              <th class="hide"> Fecha de Creación </th>
            </tr>
          </thead>
          <tbody>
            {% for receta in recetas %}
            <tr>
                <td><a href="{% url 'recetas:detallar_receta' receta.id %}">{{ receta.nombre }}</a></td>
                <td>{{ receta.cantidad }}</td>
                <td>{{ receta.duration.days }} días</td>
                <td class="hide">{{receta.created_at}}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      <br>
      <div class="row">
        <div class="right-align">
          <a href="{% url 'recetas:agregar_receta' %}" class="btn-floating btn-large waves-effect waves-light waves-circle pink fixed tooltipped" data-position="left" data-tooltip="Agregar nuevo producto semi-terminado"><i class="material-icons">add</i></a>
        </div>
      </div>
  </div>
{% endblock content %}
{% block js %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.collapsible').collapsible();
    });
  </script>
{% endblock js %}
