{% extends "base.html" %}
{% block title %}Recetas{% endblock title %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block header %}
    <header class="">
        <h1 class="center-align">{{ receta.nombre }}</h1>
    </header>
{% endblock header %}
    <div class="container">
        {% block content %}
        <div class="container">
          <!-- Carga donde carga todo -->
            <div class="card">
                <div class="card-content">
                <span class="card-title">
                    <div class="row">
                        <div class="col s6">
                          <a class="btn waves-effect waves-light pink"  onClick="window.history.back();return false;" >Regresar
                            <i class="material-icons left">chevron_left</i>
                          </a>
                        </div>
                        <div class="col s6 right-align">
                            <a class='dropdown-trigger btn pink' href='#' data-target='dropdown1'>Opciones<i class="material-icons">expand_more</i></a>
                            <ul id='dropdown1' class='dropdown-content'>
                            <li>
                                <a href="{% url 'recetas:editar_receta' receta.id %}">
                                    <i class="material-icons">edit</i>
                                    Editar Receta
                                </a>
                            </li>
                            <li class="divider" tabindex="-1"></li>
                            <li>
                              <a href="{% url 'recetas:agregar_materiales' receta.id %}"><i class="material-icons">edit</i>
                                Editar Materiales
                              </a>
                            </li>
                            <li class="divider" tabindex="-1"></li>
                            <li >
                              <a onclick="deleteRegister(this, event)" class="red-text" href="{% url 'recetas:borrar_receta' receta.id %}">
                                <i class="material-icons">delete</i>Borrar Receta
                              </a>
                            </li>
                            </ul>
                        </div>
                    </div>
                </span>
                <span class="card-title">
                    <div class="row">
                        <div class="col s6 center-align">
                            <h5>Cantidad que produce: {{ receta.cantidad }}</h5>
                        </div>
                        <div class="col s6 center-align">
                            <h5>Duración del producto: {{ receta.duration.days }} días </h5>
                        </div>
                        <div class="col s6 center-align">

                        </div>
                    </div>
                </span>
                <div class="container">
                    <table id="table_id">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Cantidad necesitada</th>
                                    <th>Unidades</th>
                                    <!--<th>Eliminar</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                {% for material in materiales %}
                                <tr>
                                    <td>{{ material.material.nombre }}</td>
                                    <td>{{ material.cantidad | floatformat:"0" }}</td>
                                    <td>{{ material.material.unidad_maestra }}</td>
                                    <!-- <td><a href="borrar_material/{{ material.id }}"><i class="material-icons">delete</i></a></td> -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </div>
            </div>
            {% endblock content %}
        </div>
    </div>

{% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.collapsible').collapsible();
        });
    </script>
    <script type="text/javascript">
         $('.dropdown-trigger').dropdown();
    </script>
    <script type="text/javascript">
      function deleteRegister(element, event) {
        event.preventDefault();
        $.confirm({
          title: '¿Deseas Continuar?',
          content: 'La receta se eliminará permanentemente.',
          type: 'red',
          closeIcon: true,
          columnClass: 'col l6 offset-l3 s12',
          typeAnimated: true,
          buttons: {
            continuar: {
              text: 'Eliminar',
              btnClass: 'btn-red',
              action: function () {
                window.location.href = $(element).attr("href");
              }
            }
         }
       });
      }
    </script>
{% endblock js %}
